* {
  box-sizing: border-box;
  font-family: '42dot Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /*font-family: "Nanum Gothic Coding", monospace;*/
  font-weight: 600;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

div {
  transition: all 0.5s ease;
}

#loader {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: black;
  animation: vanish 1s ease forwards 1s;
  position: fixed;
  transition: none;
}

@keyframes vanish {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

header::before {
  content: '';
  position: fixed;top:0px;
  width: 100vw;
  height: 115px;
  background-color: white;
  z-index: -1;
}

header {
  /*border: 1px solid black;*/
  display: flex;
  width: 92vw;
  height: 95px;
  margin: 1% auto;
  padding: 15px;
  position: fixed;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid white;
  transition: all 0.5s ease;
  background-color: white;
  z-index: 2;
}

header::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 20px;
  width: calc(100% - 40px);
  height: 0.5px;
  background: linear-gradient(90deg, #00000000, #00000099, #00000000);
  opacity: 0;
  transition: opacity 0.3s ease;
}

header:hover::after {
  opacity: 1;
}

header * {
  margin: auto;
}

#logo {
  margin: 10px;
}
#logo,
#logo img {
  width: 50px;
}

#logo:hover {
  transform: scale(1.2) translateY(-5px);
  /*box-shadow: 0px 5px 5px #00000050;*/
  filter: drop-shadow(5px 10px 2px rgba(0, 0, 0, 0.2));
}

#logo:active {
  transform: scale(0.8) translateY(5px);
}

.standHr {
  width: 0px;
  border: 1.45px solid rgb(49, 49, 49);
  border-radius: 10px;
  height: 30%;
}

nav {
  width: 49vw;
  display: flex;
}

nav div {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  padding: 8px;
}

nav div:hover {
  border: 12px solid rgb(231, 231, 231);
  border-radius: 30px;
  padding: 8px;
  background-color: rgb(247, 247, 247);
}

nav div:active {
  transform: scale(0.9);
}

#more {
  width: auto;
  display: inline-flex;
  margin: 0px;
}

#mobileNav {
  padding: 8px;
  display: none;
  box-sizing: border-box;
}

#mobileNav img {
  width: 24px;
  height: 22px;
}

#mobileNav:hover {
  outline: 12px solid rgb(231, 231, 231);
  border-radius: 30px;
  padding: 8px;
  background-color: rgb(247, 247, 247);
}

#mobileNav:active {
  transform: scale(0.9);
}

#mobileNavCover {
  width: 100vw;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #00000080;
  bottom: 0px;
  height: calc(100vh - 82px);
  backdrop-filter: blur(5px);
  transition: all 0.5s ease;
  z-index: 100;
}

#mobileNavWindow {
  width: 180px;
  position: absolute;
  background-color: white;
  top: 10px;
  right: 10px;
  padding: 5px;
  height: 10px;
  transition: all 0.5s ease;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px 5px #00000030;
}

#mobileNav-R div {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid rgb(255, 255, 255);
  margin: 10px;
}

#mobileNav-R div:hover {
  border: 12px solid rgb(231, 231, 231);
  border-radius: 30px;
  padding: 8px;
  background-color: rgb(247, 247, 247);
}

#mobileNav-R div:active {
  transform: scale(0.9);
}

#not-logined {
  display: none;
}
#logined {
  display: none;
  gap: 6px;
}
#mobileMore-R div {
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
#mob-not-logined {
  display: none;
}
#mob-logined {
  display: none;
}

@media (max-width: 768px) {
  header {
    width: 100%;
    margin: 0px;
  }
  #logo {
    margin-left: 15px;
  }
  nav {
    display: none;
  }
  header .standHr {
    display: none;
  }
  #more {
    width: 15vw;
    margin: auto;
    margin-right: 15px;
  }
  #profile {
    margin: auto;
    margin-bottom: 10px;
  }
  #nickname {
    margin: 0px;
  }
  #not-logined {
    display: none;
  }
  #logined {
    display: none;
    gap: 5px;
  }
  #mobileNav {
    display: flex;
  }
  #mobileNavCover {
    height: calc(100vh - 75px);
  }
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: 0.1px solid #ffffff10;
  border-radius: 10px;
  background-color: white;
  transition: all 0.5s ease;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highB {
  background-color: rgb(34, 34, 34);
  color: white;
  border-radius: 20px;
}

.highB:hover {
  background-color: rgb(75, 75, 75);
  border: 4px solid #303030;
}

.midB {
  background-color: white;
  border-radius: 20px;
  border: 2px solid #00000030;
}

.midB:hover {
  background-color: rgb(226, 226, 226);
  border: 2px solid #a3a3a3;
}

#profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  object-fit: cover;
}

#profile img {
  width: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

#nickname {
  display: flex;
  height: 45px;
  margin-left: 5px;
  align-content: center;
  align-items: center;
}
#logout {
  margin: 5px;
  height: 45px;
}

main {
  width: 92vw;
  padding: 25px;
  display: none;
  align-items: center;
  margin: 0px;
  margin-bottom: 50px;
  margin-top: 105px;
  flex-direction: column;
}

.link {
  color: #56aaee;
  font-weight: bold;
  transition: all 0.5s ease;
}
.link:hover {
  color: #248add;
}


.color {
  color: #45d38c;
}

.tag {
  transition: all 1s ease;
  width: 10px;
}

.mention {
  flex-grow: 0;
  flex-basis: auto;
  max-width: auto;
  /*background-color: rgb(255, 171, 111);*/
  border-radius: 10px;
  padding: 3px 7px;
  height: 25px;
  font-weight: bolder;
  color: rgb(255, 171, 111);
  transition: all 0.5s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.mention:hover {
  color:rgb(255, 129, 90);
  border-radius: 10px;
}

.tag img {
  animation: glow 3.5s ease infinite;
  filter: drop-shadow(10px 10px 15px #ffb732c5);
  height: 14.5px;
  margin-left: 2px;
  margin-right: 2px;
  transform-origin: center;
}

.ProfSty {
  border-radius: 50%;
  transition: all 0.5s ease;
  border: 2.5px solid transparent;
  outline: 2px solid #00000050;
  box-sizing: border-box;
  object-fit: cover;
  overflow: hidden;
}


@keyframes glow {
  0% {
    filter: none;
  }
  50% {
    filter: brightness(1.15) contrast(1.1);
  }
  100% {
    filter: none;
  }
}

#windowCover {
  width: 100vw;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #00000030;
  backdrop-filter: blur(1px);
  display: none;
  opacity: 0;
}
#window {
  width: 350px;
  min-height: 100px;
  padding: 20px;
  background-color: white;
  border: none;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 4px 4px 10px #00000050, inset -5px -5px 10px #00000035;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
#window #title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 5px;
}
#window #title::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: -12px;
  height: 0.5px;
  background-color: black;
}
#window #content {
  width: 90%;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
#window #closer {
  min-width: 120px;
  font-size: 16px;
}
